

<h1>My Portfolio</h1>

<div class='search-area'>
  <h3>Search articles</h3>
  <%= form_tag search_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :article, params[:stock], placeholder: "article", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <a style="width:50px"><%= button_tag 'search'%><br>
        </a>
      </div>
    </div>
  <% end %>
</div>
<div id="results">
<% @articles.each do |article| %>
    <%= article.title %><br>
    <%= article.description %><br>
  <% end %>
</div>
